.main_container{
    display: flex;
    width: 400px;
    height: 330px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

input{
    padding: 5px;
    border-radius: 5px;
}

textarea{
    padding: 5px;
    width: 195px;
    
    border-radius: 5px;
}

select{
    width: 195px;
    padding: 5px;
    border-radius: 5px;
}

.form_content{
    margin: 5px;
}